.sider {
	z-index: 10;
	width: 180px;
	background: #fff;
	position: absolute;
	top: 64px;
	bottom: 0;
	left: 0;
	box-shadow: 0 1px 4px 0 rgba(202,202,202,0.50);
}
.menu {
	width: 100%;
	user-select: none;
	font-size: 15px;
}
.menu-subMenu {
	position: relative;
}
.subMenu-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	padding-right: 10px;
	cursor: pointer;
	border-left: 4px solid transparent;
	transition: all .3s;
	&:hover {
		color: #06AEA6;
		:global {
			.menu-icon {
				color: #06AEA6;
			}
		}	
	}
}
.subMenu-title-text {
	display: flex;
	align-items: center;
}
.menu-item {
	height: 40px;
	line-height: 30px;
    padding: 5px 0;
	a {
		border-left: 4px solid transparent;
		transition: all .3s;		
		&:hover {
			color: #06AEA6;
			:global {
				.menu-icon {
					color: #06AEA6;
				}
			}	
		}
	}
}
.menu-inline {
	transition: height .3s;
	background: #F5F7F8;
	overflow: hidden;
}
.subMenu-icon-arrow {
	font-size: 10px;
	transition: transform .3s;
}
.subMenu-icon-arrow-up {
	transform: rotateZ(180deg);
}
:global {
	.menu-icon {
		margin-right: 8px;
		color: #666;
		transition: all .3s;
	}
	a.actived {
		color: #06AEA6;
		border-left-color: #06AEA6;
		.menu-icon {
			color: #06AEA6;
		}
	}
	.collapse-transition {
		transition: height .3s;
	}
}
