.tableItem{
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 1px 4px 0 rgba(202,202,202,0.50);
		border-radius: 3px;
		width: 323px;
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 20px;
		cursor: pointer;
		.tableTitle{
			line-height: 20px;
			height: 40px;
			// width: 283px;
			color: #666;
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			// white-space: nowrap;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			margin-bottom: 17px;
		}
		.label{
			font-size: 12px;
			color: #999999;
		}
		.value{
			font-size: 12px;
			color: #000000;
			margin-right: 20px;
		}
		.info{
			float: left;
			line-height: 17px;
		}
		.tableBtn{
			float: right;
			line-height: 17px;
			
		}
		.tableIcon{
			font-size: 16px;
    		margin-right: 20px;
    		color: #777;
    		// display: none;
    		cursor: pointer;
    		&:last-child{
    			margin-right: 0;
    		}
		}
		:global{
			.icon-dengpao{
				color: #FFBF47;
				cursor: pointer;
			}
		}
		// &:hover{
		// 	.tableIcon{
		// 		display: inline-block;
		// 	}
		// }
	}