.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 64px;
	padding-right: 1.6%;
	padding-left: 40px;
	background: #06AEA6;
}
.banner {
	display: flex;
	color: #fff;
	font-size: 18px;
}
.vertical {
	width: 2px;
	background: #fff;
	margin: 0 15px;
}
.user {
	color: #fff;
}