.content{
	.title{
		padding: 0 20px;
		margin-top: 20px;
		font-size: 14px;
		color: #4A4A4A;
		line-height: 32px;
	}
	.titleIcon{
		color: #28BEA3;
		font-size: 16px;
		margin-right: 10px;
		background-color: #fff;
		vertical-align: middle;
	}
	.titleText{
		float: left;
		span{
			font-weight: 600;
			vertical-align: middle;
		}
	}
	.titleBtn{
		float: right;
		.addBtn{
			color: #28BEA3;
			margin-right: 30px;
			line-height: 20px;
			display: inline-block;
			cursor: pointer;
			.titleIcon{
				vertical-align: middle;
			}
			.text{
				vertical-align: middle;
			}
		}
		:global{
			.ant-btn{
				padding: 0;
				width: 32px;
				border-radius: 1px;
			}
			.ant-btn-primary{
				background-color: #06AEA6;
    			border-color: #06AEA6;
			}
			.ant-input{
				border: 1px solid #E8E8E8;
    			border-radius: 0 1px 1px 0;
    			height: 32px!important;
    			&:focus{
    				box-shadow: none;
    			}
			}
			.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
				border-color: #E8E8E8;
			}
		}
	}
	.selectWrap{
		margin-top: 20px;
		padding: 0 20px;
		.text{
			margin-right: 10px;
			margin-left: 20px;
			&:first-child{
				margin-left: 0;
			}
		}
	}
	.planList{
		margin-top: 20px;
		padding-left: 20px;
	}
}