* {
	box-sizing: border-box;
	font-family: 'PingFangSC-Regular';
}
html, body, :global(#root) {
  color: #333;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li a {
	display: inline-block;
	height: 100%;
	width: 100%;
	text-decoration: none !important;
	color: #333;
}
:global {
	.bold {
		font-family: 'PingFangSC-Medium' !important;
	}
}

