* {
	box-sizing: border-box;
	font-family: 'PingFangSC-Regular' !important;
}
html, body, :global(#root) {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	display: inline-block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #333;
	&.actived {
		color: #06AEA6;
	}
}